
body{

    background-color: rgb(0, 0, 0);
}


/* Container
==============================*/

.container{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}


/* Header
==============================*/

.header{
    width: 100%;
    height: 100px;

}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;

    border-bottom: 1px solid grey;
}


/* Nav 
==============================*/

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.2s linear;
    
}


.nav__link:first-child{
    margin-left: 0;
}


.nav__link:hover {
    opacity: 1;
}


/* Intro  
==============================*/

.intro {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-top: 7px;
}








/* Gallery
=============================================*/
*{box-sizing:border-box}

.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

